.ContentGridContainer{
    display: flex;
    margin: auto !important;
    padding: 10px;
    width: 100% !important;
    

}

.ContentGridCard{
    align-content: center;
    justify-content: center;

}

