@font-face {
  font-family: Roboto Light;
  src: url(font/Roboto-Light.ttf);
}
.App {
  text-align: center;
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1
{ 
  font-family: "Roboto Light";
  margin: 12px;
}
.footer
{
  padding: 0 1rem 1rem;
  padding-bottom: 0.5%;
  color: black;
  text-align: center;
  font-size: 80%;
  background-color: #bae1ff;
  margin-top: 15px;
}
