.ContentCardContainer
{
    max-width: 350px;
    margin: auto;
    
}
.ContentCardImage
{
    height: 300px !important;
    max-width: 250px;
    margin: auto;
    
}
.ContentCardDescription
{
    height: 150px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    font-family: "Roboto" !important;
    text-align: center;
}

