.SearchBoxContainer
{
    color: white;
    margin-top: 48px;
    height: 350px;
}

.MuiGrid-root
{
    margin: auto;
    display: flex;
    justify-content: center !important;
    
}
.title
{
    padding-top: 20px;
    padding-left: 15%;
    font-size: 2em;
    /* font-weight: bold; */
    line-height: 1;
    text-align: left;
    font-family: "Roboto";
}
.background
{
    background: linear-gradient(180deg, rgba(63,81,192,1) 0%, rgba(186,225,255,1) 87%);

}

